<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:sec="http://cxf.apache.org/configuration/security" xmlns:wsa="http://cxf.apache.org/ws/addressing"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:http="http://cxf.apache.org/transports/http/configuration"
	xmlns:t="http://dnetlib.eu/springbeans/t" xmlns:template="http://dnetlib.eu/springbeans/template"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                                    http://cxf.apache.org/ws/addressing http://cxf.apache.org/schemas/ws-addr-conf.xsd
                                    http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd
                                    http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd
                            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
                            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
                            http://dnetlib.eu/springbeans/template http://dnetlib.eu/springbeans/template.xsd">


	<!-- Sample schedulable job -->
	<bean class="eu.dnetlib.playground.PlaygroundJob"
		p:cronExpression="0 14 16 * * ?" p:enabled="true"
		p:graph-ref="playgroundWorkflowGraph"/>

	<!-- Sample workflow -->
	<bean id="playgroundWorkflowGraph" class="eu.dnetlib.workflow.sarasvati.SarasvatiGraphFactory"
		p:engine-ref="msroWfEngine" p:definition="classpath:/eu/dnetlib/playground/playground.wf.xml" />

	<bean id="wfNodePlaygroundStepJob" class="eu.dnetlib.playground.PlaygroundStepJob" />
</beans>